
#header{
    background-color: #FFE49E;
    font-family: 'S-CoreDream-3Light';
    
}

#title{
    font-size:xx-large;
    text-align: center;
    clear: both;
    padding-bottom: 10px;
}

a{
    font-size: large;
}

.currTime{
    font-size: medium;
    float: left;
}

.source{
    font-size: small;
    float: right;
    padding: 10px;
}