img{
    width:10vw;
    margin-top:20px;
    margin-bottom: 20px;
}
#recBody{
    margin: 10px;
    text-align: center;
}
.row{
    font-size: 50%;
}
#message{
    margin-top: 20px;
    font-size: 1.5vw;
    text-align: right;
    font-weight: bold;
}